.user{
    position: relative;
    left: 35%;
    border-radius: 50%;
    margin: auto;
}
.back-button{
    height: 75px;
    width: 75px;
    background-color: #DEE2FF;
    border: transparent;
    font-size: 60px;
    float: left;
}
body{
    background-color: #6ec6ff;
}
#mainbox{
    background-color: #DEE2FF;
    border: 2px solid #dedede;
    height: 1000px;
    width: 100%;
    overflow: scroll;
}
.message{
    text-align: center;
    font-size:300%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25%;
    padding: 20px;
    position: relative;
    margin-top: 20px;
    width: 60%;
    height: max-content;
    padding: 0px, 0px;
}
.client-m{
    background-color: #8372DB;
    left: 10%;
}

.user-m{
    background-color: aqua;
    left: 30%
}