.background-c{
<<<<<<< HEAD
=======
    background: #DEE0E8;
}

.client-m{
    background: #B0D8E5;
}

.user-m{
    background: #FFFCFC;
}
.grey{
>>>>>>> af2a7cf8a0977566be798c494e6c36bf1d4ebc6b
    background: #DEE0E8;
}

.client-m{
    background: #B0D8E5;
}

.user-m{
    background: #FFFCFC;
}
