@keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(100px, 200px, 0); }
  }
    body{
        overflow: hidden;
    }

    .general
    { 
        margin: 0;
        border-radius: 50%;
    }

    .add-on-button
    {
        position: fixed;
    }

    .rand-img {
        object-fit: cover;
        height: 15vh;
        width: 15vh;
        }

    .rand-button {
        left: 20vh;
        height: 15vh;
        width: 15vh;
        }
    
    .person1-button {  
        top: 18vh;
        left: 28vh;
        }
    
    .person2-button {
        top: 25vh;
        left: 5vh;
        }

    .person3-button {
        top: 45vh;
        left: 30vh;
        }
    .person4-button {
        top: 55vh;
        left: 5vh;
        }

    .person5-button {
        top: 75vh;
        left: 20vh;
        }
    .move{
        animation: bounce 5s;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(.5,0.05,1,.5);
        animation-iteration-count: infinite;
    }

    