body{
    background-color: #E0F7FA;
}

.topLoginDiv{
    position: fixed;
    margin-top: 20%;
    width: 100%;
 }

 img {
    width: 65%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}   

.logInDiv{
    margin-top: 40%;
    width: 100%;
    position: fixed;
    text-align: center;
}

button { 
    background-position: center, center;
    background-repeat: repeat, no-repeat;
    background-size: cover, 140px 140px;
    background-image: url("images/bubble.png"), url("images/camera_icon.png");
    width: 20vw;
    height: 20vw;
    border-radius: 300px;
    text-align: center;
}